[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyarrow = "*"
scikit-learn = "*"
numpy="1.26.4"
tabulate = "*"
#spacy = {version = "3.5.4", extras = ["cuda122"]}
spacy = "3.5.4"
cupy-cuda12x = "*"
matplotlib = "*"
plotly = "*"
scipy = "*"
openpyxl = "*"
dataframe-image = "*"
seaborn = "*"
transformers = "4.30.2"
huggingface_hub = "0.25.2"
fastcoref = "*"
#coreferee = "*"
# spacy-llm = "*"
rapidfuzz = "*"
requests = "*"
python-dotenv = "*"
pydantic = "==1.*"
openai = "*"
icecream = "*"
#notebook = "*"
jupyter = "*"
#en_core_web_trf = "*"
#de_core_news_lg = "*"
uvicorn = "*"
black = "*"
wikipedia = "*"
newspaper3k = "*"
googlenews = "*"
pyvis = "*"
hdbscan = "*"
sentence-transformers = "*"
umap-learn = "*"
rdflib = "*"
neo4j = "*"
tqdm = "*"
langchain = "==0.1.20"
langchain-openai = "*"
gliner-spacy = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
