aiohappyeyeballs==2.4.0; python_version >= '3.8'
aiohttp==3.10.5; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
allennlp==2.9.3; python_full_version >= '3.7.1'
allennlp-models==2.9.3; python_full_version >= '3.7.1'
anyio==4.4.0; python_version >= '3.8'
async-timeout==4.0.3; python_version < '3.11'
attrs==24.2.0; python_version >= '3.7'
base58==2.1.1; python_version >= '3.5'
blis==0.7.11
boto3==1.35.14; python_version >= '3.8'
botocore==1.35.14; python_version >= '3.8'
cached-path==1.1.2; python_version >= '3.7'
cachetools==5.5.0; python_version >= '3.7'
catalogue==2.0.10; python_version >= '3.6'
certifi==2024.8.30; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
conllu==4.4.1; python_version >= '3.6'
crosslingual-coreference==0.3.1; python_version < '3.12' and python_version >= '3.8'
cymem==2.0.8
datasets==2.10.1; python_full_version >= '3.7.0'
dill==0.3.6; python_version >= '3.7'
docker-pycreds==0.4.0
exceptiongroup==1.2.2; python_version < '3.11'
fairscale==0.4.6; python_version >= '3.6'
fastapi==0.114.0; python_version >= '3.8'
filelock==3.6.0; python_version >= '3.7'
frozenlist==1.4.1; python_version >= '3.8'
fsspec[http]==2024.9.0; python_version >= '3.8'
ftfy==6.2.3; python_version < '4' and python_full_version >= '3.8.1'
gitdb==4.0.11; python_version >= '3.7'
gitpython==3.1.43; python_version >= '3.7'
google-api-core==2.19.2; python_version >= '3.7'
google-auth==2.34.0; python_version >= '3.7'
google-cloud-core==2.4.1; python_version >= '3.7'
google-cloud-storage==2.18.2; python_version >= '3.7'
google-crc32c==1.6.0; python_version >= '3.9'
google-resumable-media==2.7.2; python_version >= '3.7'
googleapis-common-protos==1.65.0; python_version >= '3.7'
h11==0.14.0; python_version >= '3.7'
h5py==3.11.0; python_version >= '3.8'
huggingface-hub==0.5.1; python_full_version >= '3.7.0'
idna==3.8; python_version >= '3.6'
iniconfig==2.0.0; python_version >= '3.7'
jinja2==3.1.4; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
joblib==1.4.2; python_version >= '3.8'
jsonnet==0.20.0; sys_platform != 'win32'
lmdb==1.5.1
markupsafe==2.1.5; python_version >= '3.7'
more-itertools==10.5.0; python_version >= '3.8'
multidict==6.0.5; python_version >= '3.7'
multiprocess==0.70.14; python_version >= '3.7'
murmurhash==1.0.10; python_version >= '3.6'
nltk==3.9.1; python_version >= '3.8'
numpy==1.26.4; python_version >= '3.7'
packaging==24.1; python_version >= '3.8'
pandas==2.2.2; python_version >= '3.9'
pathlib-abc==0.1.1; python_version >= '3.8'
pathtools==0.1.2
pathy==0.11.0; python_version >= '3.8'
pillow==10.4.0; python_version >= '3.8'
pluggy==1.5.0; python_version >= '3.8'
preshed==3.0.9; python_version >= '3.6'
promise==2.3
proto-plus==1.24.0; python_version >= '3.7'
protobuf==3.20.3; python_version >= '3.7'
psutil==6.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
py-rouge==1.1
pyarrow==17.0.0; python_version >= '3.8'
pyasn1==0.6.0; python_version >= '3.8'
pyasn1-modules==0.4.0; python_version >= '3.8'
pydantic==1.8.2; python_full_version >= '3.6.1'
pytest==8.3.2; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2024.1
pyyaml==6.0.2; python_version >= '3.8'
regex==2024.7.24; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
responses==0.18.0; python_version >= '3.7'
rsa==4.9; python_version >= '3.6' and python_version < '4'
s3transfer==0.10.2; python_version >= '3.8'
sacremoses==0.1.1; python_version >= '3.8'
scikit-learn==1.5.1; python_version >= '3.9'
scipy==1.14.1; python_version >= '3.10'
sentencepiece==0.2.0
sentry-sdk==2.14.0; python_version >= '3.6'
setproctitle==1.3.3; python_version >= '3.7'
setuptools==74.1.2; python_version >= '3.8'
shortuuid==1.0.13; python_version >= '3.6'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smart-open==6.4.0; python_version >= '3.6' and python_version < '4.0'
smmap==5.0.1; python_version >= '3.7'
sniffio==1.3.1; python_version >= '3.7'
spacy==3.1.7; python_version >= '3.6'
spacy-legacy==3.0.12; python_version >= '3.6'
srsly==2.4.8; python_version >= '3.6'
starlette==0.38.5; python_version >= '3.8'
tensorboardx==2.6.2.2
termcolor==1.1.0
thinc==8.0.17; python_version >= '3.6'
threadpoolctl==3.5.0; python_version >= '3.8'
tokenizers==0.12.1
tomli==2.0.1; python_version < '3.11'
torch==1.11.0; python_full_version >= '3.7.0'
torchvision==0.12.0; python_version >= '3.7'
tqdm==4.64.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
transformers==4.18.0; python_full_version >= '3.6.0'
typer==0.4.2; python_version >= '3.6'
typing-extensions==4.12.2; python_version >= '3.8'
tzdata==2024.1; python_version >= '2'
urllib3==2.2.2; python_version >= '3.8'
uvicorn==0.30.6; python_version >= '3.8'
wandb==0.12.21; python_version >= '3.6'
wasabi==0.10.1
wcwidth==0.2.13
word2number==1.1
xxhash==3.5.0; python_version >= '3.7'
yarl==1.11.0; python_version >= '3.8'
